@import "tailwindcss";
@plugin "daisyui";


:root {
  --background: #0f1115; /* Standard dark background */
  --foreground: #f8fafc;
  --accent: #ccff00;     /* Highlight color for badges and buttons */
  --card-bg: #1e2128;
}

body {
  color: var(--foreground);
  background-color: var(--background);
}
